// Colors
$white: #ffffff;

$yellow: #ffd447;
$yellow-light: #fff4bf;

$blue: #1464c4;
$blue-dark: #0b3f80;
$blue-light: #eaf4ff;

// Text
$text-dark: #18324b;
$text-muted: #66798a;

// Other
$border: #dce7f2;

$radius-small: 12px;
$radius-medium: 22px;
$radius-large: 32px;

$container-width: 1120px;