$background-color: #f4f4f4;
$container-color: #ffffff;

$text-color: #333333;
$border-color: #cccccc;

$primary-color: #333333;
$primary-hover: #555555;

$success-color: green;
$error-color: red;

$border-radius: 8px;
$input-radius: 4px;

$container-width: 400px;
